* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body {
    background-color: #F7F2FF;
    background-image: url(bg-9.png);
}
.header {
    width: 100%;
    padding: 2rem 1.5rem;
    padding-left: 12.5%;
}
.header .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .nav-list .judul {
    font-size: 40px;
    color:#3B29E3;
}
.header .nav-list .menu {
    display: flex;
    gap: 35px;
    font-size: 1.3rem;
    list-style: none;
    font-weight: 400;
}
.nav-list a {
    color: #150EB4;
}
.nav-list a:hover {
    color: #735BF3;
}
.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #9185FD;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 30px black;
    border-radius: 20px;
}
.icon {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.icon img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.icon span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 15px;
    text-transform: uppercase;
}
.sidebar a {
    position: relative;
    padding-left: 15px;
    font-size: 15px;
    display: table;
    width: 300px;
    padding: 10px;
    color: black;
}
.sidebar i {
    position: relative;
    width: 75px;
    height: 40px;
    top: 14px;
    font-size: 22px;
    text-align: center;
}
.sidebar .nav-item {
    position: relative;
    top: 12px;
    margin-left: 15px;
}
.sidebar a:hover {
    background-color: #544DF7;
    color: white;
}
.sidebar:hover {
    width: 280px;
    transition: all 0.5 ease;
}
.keluar {
    position: absolute;
    bottom: 0;
}
section .content {
    width: 100%;
    height: 100vh;
    padding-top: 12.5%;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
}
section .content h2 {
    font-size: 2rem;
    /* max-width: 600px; */
    line-height: 65px;
    color:#3B29E3;
    padding-left: 12.5%;
}
section .content h1 {
    font-size: 3rem;
    color: #150EB4;
    padding-left: 12.5%;
}
section .content h3 {
    color: #150EB4;
    font-size: 1.5rem;
    line-height: 55px;
    padding-left: 12.5%;
}
section .content p {
    color: #000755;
    font-size: 1.5rem;
    max-width: 1100px;
    font-weight: 300px;
    padding-left: 12.5%;
}
section .content .jobsheet {
    background-color: #735BF3;
    padding-left: 120px;
    border-radius: 20px;
    margin-top: 38px;
    padding-right: 250px;
    margin-left: 12.5%;
    max-width: 25%;
}
section .content .jobsheet:hover {
    background-color: #150EB4;
    transition: 1s;
}
section .content .jobsheet a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}
section .content .jobsheet a:hover {
    color: white;
}
footer{
    background: #A68EFB;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer h3{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer h4{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 12px;
}

.sosmed a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #3B29E3;
    border-radius: 50%;
    font-size: 20px;
    color: #3B29E3;
    text-decoration: none;
    margin: 10px 10px 20px 0;
    transition: .5s ease;
}

.sosmed a:hover{
    background: #3B29E3;
    color: #0f0f0f;
    box-shadow: 0 0 20px #3B29E3;
}